<div style="display:none;">
	{{#each model.guests as |guest|}}
	{{/each}}
</div>
<div class="pear-chart">
{{ember-chart type='Pie' data=chartData responsive=true width=200 height=200}}
</div>
{{yield}}
