
<h1>Enter details:</h1>
<div class="form-group has-feedback">
    <label class="col-sm-3 control-label">Email</label>
    <div class="col-sm-6">
      {{input type="text" class="form-control" placeholder="Your Email Address"}}
      {{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
    </div>
</div>