/*==============================================================================
  ___       _                        _    ____ ____ ____  
 |_ _|_ __ | |_ ___ _ __ _ __   __ _| |  / ___/ ___/ ___| 
  | || '_ \| __/ _ \ '__| '_ \ / _` | | | |   \___ \___ \ 
  | || | | | ||  __/ |  | | | | (_| | | | |___ ___) |__) |
 |___|_| |_|\__\___|_|  |_| |_|\__,_|_|  \____|____/____/ 
                                                          
==============================================================================*/

/*
	Colours:

	Navbar background color:  	#f8f8f8;
	Navbar active link color:	#e7e7e7;
	Navbar Text Color:			#777;
	Navbar Hover Text Color:	#000;

	Border Color:				#e7e7e7;
*/

/*==============================================================================*/
@import "mixins.scss";

body {
	background-color: white;
}

/* 	
	This class is basically a body replacement,
	for all pages that have the navbar. If you 
	want to set a body background colour, 
	set it here.
*/
.pear-app-content{
	/* This is spacing to place the body underneath the navbar */
	margin-top: 50px;
	min-height: 100vh !important;
}

/*==============================================================================*\
  _   _                        ____                  
 | | | | ___  _ __ ___   ___  |  _ \ __ _  __ _  ___ 
 | |_| |/ _ \| '_ ` _ \ / _ \ | |_) / _` |/ _` |/ _ \
 |  _  | (_) | | | | | |  __/ |  __/ (_| | (_| |  __/
 |_| |_|\___/|_| |_| |_|\___| |_|   \__,_|\__, |\___|
                                          |___/      
\*==============================================================================*/

.index-main{
	background-color: rgba(255,255,255,0.9);
}
.pear-main-well{
	margin-top: 30px;
	text-align: center;
}
.pear-main-pills{
	display: inline-block;
	li{
		// border: 1px solid black;
		&.active{

		}

		a{
			&:link, &:visited, &:hover, &:active{

			}
		}
	}
}


/*==============================================================================*\
   ____      _     ___ _                     
  / ___|__ _| |_  |_ _| |_ ___ _ __ ___  ___ 
 | |   / _` | __|  | || __/ _ \ '_ ` _ \/ __|
 | |__| (_| | |_   | || ||  __/ | | | | \__ \
  \____\__,_|\__| |___|\__\___|_| |_| |_|___/
                                             
\*==============================================================================*/

//Provides the styling for the category blocks. (Just the styling)
//This should always be in a col-md-4 col-sm-6
//This is very long, you might want to minimise this in the line numbers.
.category-block{
	//Defaults
	margin: auto;

	//To create space between rows
	margin-bottom: 15px; 

	//Take up the full column...
	width: 100%;

	//But not too big!
	max-width: 360px;
	height: 322px;

	text-align: center;
	background-color: #f8f8f8;
	// border: 1px solid #272822; //Sublime color
	border-radius: 10px;

	h2{
		// padding-top: 10px;
		margin-top: 5px;
	}

	//Card stuff
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	&:hover{
  		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	img{
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* None of these should be selectable */
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;

    overflow: hidden;

}
.cat-img-container{
	background-color: black;
	width: 100%;
	height: 234px;
	// line-height: 117px;
	display: inline-block;
	text-align: center;
	// overflow-y: hidden;

	margin: 0px;
	padding: 0px;
}
.cat-image{
	display: inline-block;

	position: relative;
	top: 50%;
	transform: translateY(-50%);

	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;

	margin: 0px;
	padding: 0px;

	&:hover{

	}
}

.cat-heart-button{
	width: 100%;
	height: 40px;
	border-radius: 0px;
	bottom: 0%;
	// line-height: 20px;
	text-align: center;
	padding: 0px;
}
.cat-button-circle{
	border: 2px solid white;
	border-radius: 100%;
	position: relative;
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 30px;
}
.pear-heart-icon{
	display: inline-block;

}

/*==============================================================================*\
   ____      _     ___ _                     
  / ___|__ _| |_  |_ _| |_ ___ _ __ ___  ___ 
 | |   / _` | __|  | || __/ _ \ '_ ` _ \/ __|
 | |__| (_| | |_   | || ||  __/ | | | | \__ \  (THE BETTER ONES)
  \____\__,_|\__| |___|\__\___|_| |_| |_|___/
                                             
\*==============================================================================*/

//Provides the styling for the category blocks. (Just the styling)
//This should always be in a col-md-4 col-sm-6
//This is very long, you might want to minimise this in the line numbers.
.category-block-m{

	//Defaults
	margin: auto;

	//To create space between rows
	margin-bottom: 15px; 

	//Take up the full column...
	width: 380px;

	//But not too big!
	//max-width: 360px;
	height: 326px;

	text-align: center;
	background-color: #f8f8f8;
	// border: 1px solid #272822; //Sublime color
	@include border-radius (3px);

	h2{
		// padding-top: 10px;
		margin-top: 5px;
	}

	//Card stuff
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	&:hover{
    	cursor: pointer;
  		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&:hover img {
    	transition: 0.5s;
		@include transform (scale(1.25));
	}

	&:hover .overlay-title {
		transition: 0.5s;
		@include transform (translateY(30px));
	}

	img{
    	transition: 0.5s;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* None of these should be selectable */
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;

    overflow: hidden;

}
.cat-img-container-m{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
    overflow: hidden; 
}
.cat-image-m{
	display: inherit;
	width:100%;
	height:100%;
}

.overlay-title{   
	transition: 0.5s; 
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    width: 300px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    bottom: 80px;
    line-height: 38px;
    height: 38px;
    position: absolute;
    background-color: #FFF;

}

/*==============================================================================*\
  _   _ _   _ _ _ _         
 | | | | |_(_) (_) |_ _   _ 
 | | | | __| | | | __| | | |
 | |_| | |_| | | | |_| |_| |
  \___/ \__|_|_|_|\__|\__, |
                      |___/ 
\*==============================================================================*/
.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    cursor: default;
}