/*==============================================================================
  ___       _                        _    ____ ____ ____  
 |_ _|_ __ | |_ ___ _ __ _ __   __ _| |  / ___/ ___/ ___| 
  | || '_ \| __/ _ \ '__| '_ \ / _` | | | |   \___ \___ \ 
  | || | | | ||  __/ |  | | | | (_| | | | |___ ___) |__) |
 |___|_| |_|\__\___|_|  |_| |_|\__,_|_|  \____|____/____/ 
                                                          
==============================================================================*/



/*==============================================================================*/
body {
	background-color: #EDEDED;
}

/* 	
	This class is basically a body replacement,
	for all pages that have the navbar. If you 
	want to set a body background colour, 
	set it here.
*/
.pear-app-content{
	/* This is spacing to place the body underneath the navbar */
	margin-top: 50px;
	min-height: 100vh !important;
	// background-image: url(images/6.jpg);
	background-color: #EDEDED;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*==============================================================================*\
  _   _                        ____                  
 | | | | ___  _ __ ___   ___  |  _ \ __ _  __ _  ___ ™
 | |_| |/ _ \| '_ ` _ \ / _ \ | |_) / _` |/ _` |/ _ \
 |  _  | (_) | | | | | |  __/ |  __/ (_| | (_| |  __/
 |_| |_|\___/|_| |_| |_|\___| |_|   \__,_|\__, |\___|
                                          |___/      
\*==============================================================================*/

.pear-index-top{
	padding:25px;
	background: url("../assets/images/splash-top.jpg") no-repeat;
	//background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.pear-profile-card{
	//margin: 5px 5px 0px 0px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.index-main{
	padding-bottom: 80px;
	// background-color: rgba(255,255,255,0.99);
	background-color: white;
	min-height: 100vh;
	// padding-bottom: 200px;
	// box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 31, 31, 0.8), -12px 0 15px -4px rgba(31, 31, 31, 0.8);
}
.pear-main-well{
	text-align: center;
	margin-top: 30px;
}
.pear-main-pills{
	display: inline-block;
	li{
		// width: auto;
		min-width: 170px;
		margin: 0px !important;
		margin-bottom: 5px !important;
		
		a{
			border-radius: 0px;
			background-color: white;
			&:link{
				background-color: $pill-inactive-main;
				color: $pill-text-inactive;
			}
			&:visited{
				background-color: $pill-inactive-main;
				color: $pill-text-inactive;
			}
			&:hover{
				background-color: $pill-hover;
				color: $pill-text;
			}
			&:active{
				background-color: $pill-click;
				color: $pill-text;			
			}
		}
		&.active{
			color: $button-text-color;
			margin-left: 0px;
			a{
				background-color: $pill-active;			
				color: $pill-text;

				//Reset, leave as-is
				&:link, &:visited, &:hover{
					background-color: $pill-active;
					color: inherit;
				}
				&:active{
					background-color: $pill-click;
					color: $pill-text;
				}
			}

		}

		
	}
}
.pear-text-logo{
	color: $button-text-color;
	padding: 0px;
	font-size: 20em;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	// z-index: 2 !important;
}
.index-logo-container{
	//background-image: url("../assets/images/pear2main.png");
	background-repeat: no-repeat;
	// background-attachment
	background-position: center;
	background-size: contain;
}
.index-logo-container-2{
	background-image: url("../assets/images/hires-logo.png");
	background-repeat: no-repeat;
	// background-attachment
	background-position: center center;
	background-size: contain;
	height: 100%;
}
.favourites-padder{
	padding-top: 20px;
}
/*==============================================================================*\
  __  __        __        __       _     _ _             
 |  \/  |_   _  \ \      / /__  __| | __| (_)_ __   __ _ 
 | |\/| | | | |  \ \ /\ / / _ \/ _` |/ _` | | '_ \ / _` |
 | |  | | |_| |   \ V  V /  __/ (_| | (_| | | | | | (_| |
 |_|  |_|\__, |    \_/\_/ \___|\__,_|\__,_|_|_| |_|\__, |
         |___/                                     |___/ 
\*==============================================================================*/
.bordered{
	border: 1px solid black;
	box-sizing: border-box;
}
.index-profile-image-container{
	// background-color: black;
	width: 100%;
	// height: 234px;
	// line-height: 117px;
	display: inline-block;
	text-align: center;
	// overflow-y: hidden;

	margin: 0px;
	padding: 0px;

	margin-top: 15px;
	margin-bottom: 5px;

	img{
    	transition: transform 600ms ease;
		display: inline-block;
		// padding: 5px;
    	// border: solid 1px #EFEFEF;
    	max-height: 200px;
    	border-radius: 50%;
	    image-rendering: -moz-crisp-edges;
	    image-rendering:   -o-crisp-edges;
	    image-rendering: -webkit-optimize-contrast;
	    image-rendering: crisp-edges;
	    -ms-interpolation-mode: nearest-neighbor; 

	
	  &:hover {
	    cursor: pointer; 
	    @include box-shadow(0px 0px 8px 2px rgba(0,0,0,0.7));
	    @include transform (scale(1.05));
	   }
	}
}

.pear-sidebar{
	display: inline-block;
	width: 100%;
	li{
		width: 100%;
		// min-width: 170px;
		margin: 0px !important;
		margin-bottom: 5px !important;
		
		a{
			background-color: white;
			&:link{
				background-color: $pill-inactive;
				color: $pill-text-inactive;
			}
			&:visited{
				background-color: $pill-inactive;
				color: $pill-text-inactive;
			}
			&:hover{
				background-color: $pill-hover;
				color: $pill-text;
			}
			&:active{
				background-color: $pill-click;
				color: $pill-text;
			}
		}
		&.active{
			margin-left: 0px;
			a{
				background-color: $primary-color;			
				color: inherit;

				//Reset, leave as-is
				&:link, &:visited, &:hover{
					background-color: $pill-active;
					color: $pill-text;
				}
				&:active{
					background-color: $pill-click;
					color: $pill-text;	
				}
			}

		}
	}
}
.pear-chart{
	display: inline-block;
	text-align: center;
	width: 100%;
	&::after{
		display: inline-block;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		text-align: center;
		background-color: black;
	}
}
.pie-label{
	position: relative;
	width: 100%;
	height: 30px;
}
.pie-label-square{
	height: 15px;
	width: 15px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;

}
.attending{
	background-color: rgb(70,191,189);
}
.not-attending{
	background-color: rgb(247,70,74);
}
.pie-label-right{
	text-align: right;
	height: 100%;
}
.pie-label-left{
	text-align: left;
	height: 100%;
	line-height: 30px;
}

/*================================*\
Guest List
\*================================*/
.add-guest-button-container{
       text-align: center;
}
.btn-guest-add{
       display: inline-block;
       &, 
       &:active,
       &.active {
               &:focus,
               &.focus {
                       // Default
                       outline: thin dotted;
                       // WebKit
                       outline: 5px auto -webkit-focus-ring-color;
                       outline-offset: -2px;
               }
       }
       &:hover,
       &:focus,
       &.focus {
               color: $hover-color;
               text-decoration: none;
       }

       &:active,
       &.active {
               outline: 0;
               background-image: none;
               @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
       }
}

/*==============================================================================*\
   ____      _     ___ _                     
  / ___|__ _| |_  |_ _| |_ ___ _ __ ___  ___ 
 | |   / _` | __|  | || __/ _ \ '_ ` _ \/ __|
 | |__| (_| | |_   | || ||  __/ | | | | \__ \
  \____\__,_|\__| |___|\__\___|_| |_| |_|___/
                                             
\*==============================================================================*/

//Provides the styling for the category blocks. (Just the styling)
//This should always be in a col-md-4 col-sm-6
//This is very long, you might want to minimise this in the line numbers.
.category-block{
	//Defaults
	margin: auto;
	margin-left: 4px;
	margin-right: 4px;

	//To create space between rows
	margin-bottom: 8px; 

	//Take up the full column...
	width: 100%;

	//But not too big!
	max-width: 360px;
	// min-width: 320px;
	// min-height: 322px;

	text-align: center;
	// background-color: #f8f8f8;
	border-radius: 2px;

	//Card stuff
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	.cat-overlay-1{
		position: absolute;
		// width: inherit;
		left: 10px;
		right: 10px;
	  	display: inline-block;
	  	opacity: 0;
	  	transition: .8s opacity;

  		h2{
			margin-top: 10px;
			overflow: hidden;
	  		text-overflow: ellipsis;
	  		white-space: nowrap;
	  		color: white;
	  		text-align: center;
	  		padding-left: 10px;
	  		padding-right: 10px;

		}
	}
	.cat-overlay-2{
		position: absolute;
		display: inline-block;
		bottom: 30px;
		// left: 5%;
		width: 60px;
		height: 60px;
		left: 154px;
		border-radius: 50%;
		text-align: center;
		overflow: hidden;
	}
	&:hover{
  		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  		.cat-overlay-1{
  			display: inline-block;
  			z-index: 10;
  			text-align: center;
  			opacity: 1;
  		}
  		img{
  			opacity: 0.5;
  		}
	}


	img{
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		transition: .8s opacity; 	
	}

	/* None of these should be selectable */
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;

    overflow: hidden;

}

.cat-img-container{
	background-color: #000000;
	width: 100%;
	// min-height: 234px;
	// line-height: 117px;
	display: inline-block;
	text-align: center;
	// overflow-y: hidden;

	margin: 0px;
	padding: 0px;
	transition: 0.8s;
}
.cat-image{
	display: inline-block;
	cursor: pointer;

	position: relative;
	// top: 50%;
	// transform: translateY(-50%);

	max-height: inherit;
	max-width: 100%;
	height: auto;
	width: auto;

	margin: 0px;
	padding: 0px;

	&:hover{
		cursor: pointer;
	}
}

.cat-heart-button{
	width: 60px;
	height: 60px;
	border-radius: 0px;
	bottom: 0%;
	// line-height: 20px;
	text-align: center;
	padding: 0px;
	border: none;
	background-color: $button-unfavourited !important;
	&:hover{
		background-color: $hover-color !important;
	}
	&:active{
		background-color: $button-click-color !important;	
	}
	&:focus{
		outline: none;
	}
}

.favourited {
	background-color: $button-favourited !important;
}
.cat-button-circle{
	border: 2px solid white;
	border-radius: 100%;
	position: relative;
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 30px;
}
.pear-heart-icon{
	display: inline-block;
}
.vendor-block{
	color: #272727;
	text-align: center;
	h2{
		color: #272727;
		display: inline-block;

		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
		overflow: hidden;
  		text-overflow: ellipsis;
  		white-space: nowrap;
  		// color: white;
  		text-align: center;
  		width: 100%;

  		padding-left: 10px;
  		padding-right: 10px;
	}
}

.guide-image{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
	&:hover{
  		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  		img{
  			opacity: 0.5;
  		}
	}
}

.pear-guide-top{
	background: url(../assets/images/pear2main.png);
	background-repeat: no-repeat;
	// background-attachment
	background-position: center center;
	background-size: contain;
	h1{
		color: $primary-color !important;
	}
}

.guide-xs-card{	
    margin-bottom: 10px;
    word-wrap: break-word;
}

.guide-container{
	
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch;
}

.guide-content {
	position:relative;
	background-color:black;
	display:inline-block;

	.cat-overlay-3{
		// z-index:2;
		width: 100%;
		height: 100%;
		position: absolute;
		// bottom: 30px;
		top: 0;
		left: 0;
		text-align: left;
		.cat-heart-button{
			z-index:6;
			&:active,&:focus{
				outline:none !important;
			}
			display: block;
			position: absolute;
			border-radius: 50%;
			text-align: center;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
			// vertical-align: bottom;
			// bottom: 30px;
		}
		.cat-overlay-1{
			position: absolute;
			// width: inherit;
			z-index: 2;
			left: 0px;
			width:100%;
			height:100%;
			background-color: rgba(0,0,0,0.6);
		  	display: inline-block;
		  	opacity: 0;
		  	transition: .8s opacity;
	  		h2{
				margin-top: 5px;
				overflow: hidden;
		  		text-overflow: ellipsis;
		  		white-space: nowrap;
		  		color: white;
		  		text-align: center;

			}
		
		}
		&:hover{
			.cat-overlay-1{
	  			z-index:5;
	  			display: inline-block;
	  			text-align: center;
	  			opacity: 1;

			}
		}
	}
	
}

.guide-card{
	height:300px;
	cursor: pointer;
	margin-bottom:15px;

	
}

.guide-row{
	display:inline-block; 
	text-align:center;
	padding-left:10px;
	width:100%;
}
/*==============================================================================*\
   *                             (                          
 (  `            )     (         )\ )    )                  
 )\))(        ( /( (   )\   (   (()/( ( /(   (     )        
((_)()\   (   )\()))\ ((_) ))\   /(_)))\()) ))\   (     (   
(_()((_)  )\ ((_)\((_) _  /((_) (_)) (_))/ /((_)  )\  ' )\  
|  \/  | ((_)| |(_)(_)| |(_))   |_ _|| |_ (_))  _((_)) ((_) 
| |\/| |/ _ \| '_ \| || |/ -_)   | | |  _|/ -_)| '  \()(_-< 
|_|  |_|\___/|_.__/|_||_|\___|  |___| \__|\___||_|_|_| /__/ 
                                                            
\*==============================================================================*/
.category-block-mobile{
	max-width: 100%;
	.mobile-overlay-1{
  		h2{
			// margin-top: 5px;
			overflow: hidden;
	  		text-overflow: ellipsis;
	  		white-space: nowrap;
	  		// color: white;
	  		text-align: center;
	  		padding-left: 5px;
	  		padding-right: 5px;
	  		max-width: 100%;
		}
	}
	.mobile-image{
		display: inline-block;
		cursor: pointer;

		position: relative;
		// top: 50%;
		// transform: translateY(-50%);

		max-height: inherit;
		max-width: 100%;
		// height: auto;
		// width: auto;

		margin: 0px;
		padding: 0px;

		&:hover{
			cursor: pointer;
		}
	}
	.mobile-overlay-2{
		position: absolute;
		display: inline-block;
		bottom: 30px;
		left: 50%;
		right: 50%;

		text-align: center;
		.mobile-button-container{
			position: relative;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			left: 50%;
			transform: translateX(-50%);
			overflow: hidden;
		}
	}
}
/*==============================================================================*\
  __  __                                  
 |  \/  | __ _ ___  ___  _ __  _ __ _   _ 
 | |\/| |/ _` / __|/ _ \| '_ \| '__| | | |
 | |  | | (_| \__ \ (_) | | | | |  | |_| |
 |_|  |_|\__,_|___/\___/|_| |_|_|   \__, |
                                    |___/ 
\*==============================================================================*/

.masonry-grid-container{
	display: inline-block;
	width: 100%;
}
.masonry-grid{
	// width: 100%;
	margin: 0 auto;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
.masonry-item{
	// width: 180px;
	// // height: 120px;
	// float: left;
	// background: #D26;
	// border: 2px solid #333;
	// border-color: hsla(0, 0%, 0%, 0.5);
	// border-radius: 5px;
}

/*==============================================================================*\
   ____      _     ___ _                     
  / ___|__ _| |_  |_ _| |_ ___ _ __ ___  ___ 
 | |   / _` | __|  | || __/ _ \ '_ ` _ \/ __|
 | |__| (_| | |_   | || ||  __/ | | | | \__ \  (THE BETTER ONES)
  \____\__,_|\__| |___|\__\___|_| |_| |_|___/
                                             
\*==============================================================================*/

//Provides the styling for the category blocks. (Just the styling)
//This should always be in a col-md-4 col-sm-6
//This is very long, you might want to minimise this in the line numbers.
.category-block-m{

	//Defaults
	margin: auto;

	//To create space between rows
	margin-bottom: 15px; 

	//Take up the full column...
	//width: 380px;

	//But not too big!
	//max-width: 360px;
	// min-height: 309px;
	min-height: 270px;
	height: auto;

	text-align: center;
	background-color: #f8f8f8;
	// border: 1px solid #272822; //Sublime color
	@include border-radius (2px);

	h2{
		// padding-top: 10px;
		margin-top: 5px;
	}

	//Card stuff
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	&:hover{
    	cursor: pointer;
  		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&:hover img {
    	transition: 0.5s;
		@include transform (scale(1.25));
	}

	&:hover .overlay-title {
		transition: 0.5s;
		@include transform (translateY(30px));
	}

	img{
    	transition: 0.5s;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	/* None of these should be selectable */
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;

    overflow: hidden;

}
.cat-img-container-m{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px;
    //overflow: hidden; 
}
.cat-image-m{
	display: inherit;
	width:100%;
	height:100%;
}

.overlay-title{   
	transition: 0.5s; 
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    width: 300px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    bottom: 80px;
    line-height: 38px;
    height: 38px;
    position: absolute;
    background-color: #FFF;

}
/*==============================================================================*\
  ____  _             _        ___ _                     
 / ___|(_)_ __   __ _| | ___  |_ _| |_ ___ _ __ ___  ___ 
 \___ \| | '_ \ / _` | |/ _ \  | || __/ _ \ '_ ` _ \/ __|
  ___) | | | | | (_| | |  __/  | || ||  __/ | | | | \__ \
 |____/|_|_| |_|\__, |_|\___| |___|\__\___|_| |_| |_|___/
                |___/                                    
\*==============================================================================*/
.page-navigation{
	padding: 15px 15px 15px 15px;
}
.single-item-imageheader{
	h1{
		font-size: 3em;
	}
}

.single-img-container{
	// background-color: black;
	// border-radius: 15px;
	// border-top-left-radius: 15px;
	// border-top-right-radius: 15px;
	// width: 100%;
	// height: 100%;
	// line-height: 117px;
	// display: inline-block;
	text-align: center;
	// max-height: 500px;
	// overflow-y: hidden;

	margin: 0px;
	padding: 0px;
	img{
		display: inline-block;
		cursor: default;
		border-radius: 15px;


		position: relative;
		// top: 50%;
		// transform: translateY(-50%);

		max-height: 100vh;
		max-width: 100%;
		height: auto;
		width: auto;

		margin: 0px;
		padding: 0px;

		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}


/*==============================================================================*\
  	Vendor (fuck you im too lazy to make a fancy ascii title)
\*==============================================================================*/

.vendor-card {
	text-align:center; 
	margin-top: 50px !important;
	padding: 15px 25px 25px 25px;
}

/*==============================================================================*\
     _    _                 _     ____                  
    / \  | |__   ___  _   _| |_  |  _ \ __ _  __ _  ___ 
   / _ \ | '_ \ / _ \| | | | __| | |_) / _` |/ _` |/ _ \
  / ___ \| |_) | (_) | |_| | |_  |  __/ (_| | (_| |  __/
 /_/   \_\_.__/ \___/ \__,_|\__| |_|   \__,_|\__, |\___|
                                             |___/      
\*==============================================================================*/
.about-page{

}
.about-slider-container{

}
.about-slider{
	// min-height: 33vh;
}
.pear-slide-1{

}
.about-intro{
	font-family: 'Lora', serif;
	font-size: 2em;
}
.about-intro-header{
	font-size: 4em;
}
.pear-slide-2, .pear-slide-3{
	background-color: rgba(0,0,0,0.8);
	color: white;
	h1{
		color: white;
		font-size: 13em;
		// font-family: 'Abel', sans-serif;
		font-weight: 300;
		// font-style: italic;
		margin: 0px;
	}
	h4{
		color: white;
		font-size: 3em;
		// font-family: 'Open Sans', sans-serif;
		font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
		font-style: italic;
		font-weight: 300;
	}
}
.about-center-me{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.about-font-stretch{
    display:inline-block;
    // -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    // -moz-transform:scale(1,1.2); /* Firefox */
    // -ms-transform:scale(1,1.2); /* IE 9 */
    // -o-transform:scale(1,1.2); /* Opera */
    // transform:scale(1,1.2); /* W3C */
}
.slick-content{
	height: 60vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.slick-prev {
	left: 40px;
	z-index: 4;
	&:before {
		// color: red !important;
	}
}
.slick-next {
	right: 40px;
	z-index: 4;
	&:before {
		// color: red !important;
	}
}
/*==============================================================================*\
	Leave these
\*==============================================================================*/
//fonts
$font_0: FontAwesome;

//@extend-elements
//original selectors
//.slick-prev:before, .slick-next:before
%extend_1 {
   font-family: $font_0;
   font-size: 40px;
   line-height: 1;
   color: white;
   opacity: 0.75;
}


[dir="rtl"] {
   .slick-next {
      &:before {
         content: "\f053";
      }
   }
   .slick-prev:before {
      content: "\f054";
   }
}
.slick-prev:before {
   @extend %extend_1;
   content: "\f053";
}
.slick-next:before {
   @extend %extend_1;
   content: "\f054";
}


/*==============================================================================*\
  _   _ _   _ _ _ _         
 | | | | |_(_) (_) |_ _   _ 
 | | | | __| | | | __| | | |
 | |_| | |_| | | | |_| |_| |
  \___/ \__|_|_|_|\__|\__, |
                      |___/ 
\*==============================================================================*/
.showOnMobile{
	display: none;		
}
.unselectable{
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    cursor: default;
}
.bootstrap-touchspin-up{
	// height: 20px !important;
}
.bootstrap-touchspin-down{
	// height: 20px !important;
}
.btn-success-thin{
	border-color: $primary-color !important;
	color: $primary-color !important;
	// background-color: $primary-color;
	&:hover, &:focus{
		background-color: $primary-color !important;
		color: $button-text-color !important;
	}
}
.pear-footer-padding{
	margin-bottom: 20vh;
}
.btn-pear{
       font-family: antipasto; 
       background-color: $primary-color;
       color: $button-text-color;      
       &:hover{
               background-color: $hover-color;
               color: $button-text-color;
       }
       &:active{
               background-color: $button-click-color !important;
               color: $button-text-color;                              
       }
}
.font-antipasto{
	font-family: antipasto;
}
.font-century{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 500;
	a{
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		font-weight: 500;
	}
}
.font-times-header{
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 5px;
	color: black;
}
.font-times-subheader{
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 2px;
	color: #999;
	font-size: 15px;
	font-style: italic;

}
.showOnPhones{
	display: none;
}


/*==============================================================================*\
  __  __          _ _          ___                  _           
 |  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __(_) ___  ___ 
 | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
 | |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |  __/\__ \
 |_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|  |_|\___||___/
                                                                
\*==============================================================================*/

@media (max-width:1281px) { /* hi-res laptops and desktops */ 

}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	.pear-text-logo{
		font-size: 14em;
	}
	.pear-slide-2, .pear-slide-3{
		h1{
			font-size: 12em;
		}
		h4{
			font-size: 2em;
		}
	}
}
@media (max-width:980px) { /* Custom */ 

}
@media (max-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (max-width:772px) { /* Our definition of really small */ 
	.hideOnMobile{
		display: none;
	}
	.showOnMobile{
		display: block;		
	}

	.slick-content{
		height: 40vh;
		width: 100%;
	}
	.pear-slide-2, .pear-slide-3{
		h1{
			font-size: 12em;
		}
		h4{
			font-size: 1.5em;
		}
	}
}
@media (max-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.pear-main-well{
		ul {
			width: 100%;
		}
	}
	.pear-main-pills{
		width: 100%;
		li{
			min-width: 0px;
			width: 100%;
		}
	}
	.pear-slide-2, .pear-slide-3{
		h1{
			font-size: 9em;
		}
		h4{
			font-size: 1em;
		}
	}
	//Hide font awesome buttons on slider here
	.slick-prev, .slick-next {
		&:before{
			display: none;
		}
	}
}
@media (max-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.pear-text-logo{
		font-size: 7em;
	}
	.hideOnPhones{
		display: none;
	}
	.showOnPhones{
		display: block;
	}
	.masonry-grid{
		display: none;
	}
	.category-block-mobile{
		display: inline-block;
	}
	.cat-img-container{
		min-height: 30px;
	}
}
@media (max-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
	.pear-slide-2, .pear-slide-3{
		h1{
			font-size: 7em;
		}
		h4{
			display: none;
		}
	}
}