<h1 class="text-center">Vendor Seeder</h1>
<h4 class="text-center">Please note, there are no success messages, fields will clear on success</h4>
	<div class="form-horizontal">
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Vendor Name</label>
			<div class="col-sm-6">
				{{input type="text" value=name class="form-control" placeholder="Name of new vendor"}}
				{{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
			</div>
		</div>
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Email</label>
			<div class="col-sm-6">
				{{input type="text" value=email class="form-control disabled" placeholder="Email address of vendor"}}
				{{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
			</div>
		</div>	
		<div class="form-group has-feedback">
			<label class="col-sm-3 control-label">Description</label>
			<div class="col-sm-6">
				{{input type="text" value=desc class="form-control disabled" placeholder="Description of vendor"}}
				{{!-- {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}} --}}
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-3">

		</div>
		<div class="col-sm-6">
			<button class="btn btn-default" {{action 'createItem'}}>Create new vendor</button>
		</div>
	</div>