
<h1 class="font-times-header" style="color: #4C4C4E;">Notifications</h1><br>
<hr>
<div style="text-align: center; padding: 20px;">
	{{!-- <p>Debug:</p>

	{{mdl-button isRaised=true text='RETAKE TOURS' action="retakeTours"}}--}}
</div>