
<h1 class="font-times-header" style="color: #4C4C4E;">Support</h1><br>
<hr>

<div style="text-align: center; padding: 20px;">
	<p>Having issues?<br>Send us a message.</p>
	<a href="#" {{action 'openContactModal'}}>{{mdl-button isRaised=true text='CONTACT US'}}</a>
</div>