<h1>Change email</h1>

<div class="form-horizontal">
    <div class="form-group has-feedback">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-6">
          {{input type="email" value=email class="form-control" placeholder="Your new email address"}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" style="width:150px;" disabled={{isNotValidEmail}} class="btn btn-success-thin" {{action 'changeEmail'}}>Confirm</button>
        </div>
    </div>
</div>