<div style="padding-bottom:60px;">
    <div class="col-md-12">
        <div class="row">
        	<div class="col-md-8">
        		<h3>Guest Tracking</h3>
        		<p>Start planning your wedding! Add guests in the guest list section, and track them on this page.</p>
        		
        	</div>
            <div class="col-md-4">
                <h3 class="text-center">Guest Attendance:</h3> 
                {{#ember-pie session.currentUser.id}} {{/ember-pie}}

                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Attending
                	</div>
                </div>
                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square not-attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Not Attending
                	</div>
                </div>
            </div>
        </div>

    </div>
</div>