<div style="padding-bottom:60px;">
    <div class="col-md-12">
        <div class="row">
        	<div class="col-md-8">
        		<h3>Welcome to your overview</h3>
        		<p>Here you can view all your wedding statistics.<hr>In the other sections you can: </p>
        		<p><i class="fa fa-user-plus" aria-hidden="true"></i> Add guests to your guest list and see the attendance overview on this page.</p>
        		<p><i class="fa fa-users" aria-hidden="true"></i> Add members to your inner circle and view their stats</p>
        		<p><i class="fa fa-female" aria-hidden="true"></i> View and edit your own stats and measurements</p><hr>
        		
        	</div>
            <div class="col-md-4">
                <h3 class="text-center">Guest Attendance:</h3> 
                {{#ember-pie session.currentUser.id}} {{/ember-pie}}

                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Attending
                	</div>
                </div>
                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square not-attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Not Attending
                	</div>
                </div>
            </div>
        </div>

    </div>
</div>