<div style="padding-bottom:60px;">
    <div class="col-md-12">
        <div class="row">
        	<div class="col-md-8">
        		<h3>Welcome to your overview</h3>
        		<p>This is your own private admin area, where you can see who is and isn’t coming.<hr>Current Features: </p>
        		<p><i class="fa fa-user-plus" aria-hidden="true"></i> Add guests to your guest list and see the attendance overview on this page.</p>
        		<p><i class="fa fa-users" aria-hidden="true"></i> Add members to your inner circle and view their stats</p>
        		<p><i class="fa fa-female" aria-hidden="true"></i> View and edit your own stats and measurements</p><hr>
                <p>Features Coming soon: </p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Chat with suppliers and your inner circle</p>
                <p><i class="fa fa-tasks" aria-hidden="true"></i> Assign Tasks to your inner circle members</p>
                <p><i class="fa fa-comments-o" aria-hidden="true"></i> Get feedback on your ideas from your friends</p><hr>
        		
        	</div>
            <div class="col-md-4">
                <h3 class="text-center">Guest Attendance:</h3> 
                {{#ember-pie session.currentUser.providerData.0.uid}} {{/ember-pie}}

                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Attending
                	</div>
                </div>
                <div class="row pie-label">
                	<div class="col-xs-6 pie-label-right">
                		<div class="pie-label-square not-attending"></div>
                	</div>
                	<div class="col-xs-6 pie-label-left">
                		Not Attending
                	</div>
                </div>
            </div>
        </div>

    </div>
</div>