<div class="text-center">
	<h3>Please pick your gender</h3>
	<div class="col-xs-6 border-box">
        <div class="circle-link" style="float:right; padding-right:20px; cursor:pointer;" {{action 'selectGender' 'female'}}>
            <div class="circle"><i class="fa fa-venus"></i></div>
        </div>
    </div>
    <div class="col-xs-6 border-box">
        <div class="circle-link" style="float:left; padding-left:20px; cursor:pointer;" {{action 'selectGender' 'male'}}>
            <div class="circle"><i class="fa fa-mars"></i></div>
        </div>
    </div>
</div>