/*==============================================================================*\
   ____      _                      _ _ _ _ _
  / ___|___ | | ___  _   _ _ __ ___| | | | | |
 | |   / _ \| |/ _ \| | | | '__/ __| | | | | |
 | |__| (_) | | (_) | |_| | |  \__ \_|_|_|_|_|
  \____\___/|_|\___/ \__,_|_|  |___(_|_|_|_|_)

\*==============================================================================*/
/*
  Colours:

  Navbar background color:    #f8f8f8;
  Navbar active link color: #e7e7e7;
  Navbar Text Color:      #777;
  Navbar Hover Text Color:  #000;

  Border Color:       #e7e7e7;

  CodeLab Color:        #272727;

  Pear Yellow Light:    rgb(243,227,97);
  Pear Yellow Dark:     rgb(219,203,85);
  Pear Light Grey:      rgb(88,89,91);
  Pear Dark Grey:       rgb(62,62,63);

  ==========================================
    Reviewed Colours
  ==========================================
  #1 Midnight Blue:   rgb(21,32,70);
  #2 Light Salmon:    rgb(249,151,155);
  #3 Dark Salmon:     rgb(207,154,110);
  #4 Linen:           rgb(254,240,223);
  #5 Tomato:          rgb(247,92,85);

  Lighter shade of midnight blue: #627ad0;
  Navbar: Linen
  Navbar Text: Midnight Blue

*/
/*==============================================================================*/
//Material Design
@import "_color-definitions";
$color-primary: $palette-pink-100;
$color-accent: "255, 255, 255";

//Change these:
$color-main: #F8BBD0;
$color-secondary: #F48FB1;
$color-click: #808080;
$color-heading: #4C4C4C;
$light-text: #ffffff;
$medium-text: #707070;
$transparent: rgba(0,0,0,0);
$pill-inactive: $transparent;

// To change:
$button-favourited: #F8BBD0;
$button-unfavourited: $medium-text;

//IGNORE THESE UNLESS YOU KNOW WHAT YOU'RE DOING
$custom-pink: (
  '50': #FCE4EC,
  '100': #F8BBD0,
  '200': #F48FB1,
  '300': #F06292,
  '400': #EC407A,
  '500': #E91E63,
  '600': #D81B60,
  '700': #C2185B,
  '800': #AD1457,
  '900': #880E4F,
  'A100': #FF80AB,
  'A200': #FF4081,
  'A400': #F50057,
  'A700': #C51162,
  'contrast': rgba(255, 255, 255, 0.87)
);
$primary: $custom-pink;
/*==============================================================================*\
  Navbar Colours
\*==============================================================================*/

$navbar-background: rgba(255,255,255, 0.95); // rgb(254,240,223);
$navbar-background-active: $color-click;
$navbar-text: $color-click;
$navbar-text-active: $light-text;
// $navbar-text: #000;
// $navbar-text: rgb(21,32,70);

$dropdown-background: rgba(255,255,255, 0.95); // rgb(254,240,223);
$dropdown-text: $color-click; // rgb(21,32,70);
$dropdown-hover-background: $color-click; // rgb(21,32,70);
$dropdown-hover-text: $light-text;

/*==============================================================================*\
  Button Colours
\*==============================================================================*/

$pill-active: #F48FB1; // light pink
$pill-text-hover: #F06292; // dark pink
$pill-click: rgba(0,0,0,0);
$pill-inactive-main: rgba(0,0,0,0);
$pill-hover: rgba(0,0,0,0);

//Background for active items and normal buttons
//1 MAIN COLOR
$primary-color: #F48FB1;

//Hover for navbar and buttons
//2 LIGHT COLOR
$hover-color: #F06292;

//Button Text (light) / navbar active
//4 USUALLY WHITE
$button-text-color: #ffffff;

//Button Click
//6 VERY DARK
$button-click-color: #808080;


//Changes colour of favourited state of circle heart button


// Material design datepicker
$accent-color: $color-main;
$disabled-textfield-grey: #9e9e9e !default;
$divider-color: $color-main;
$datepicker-background-color: #fff !default;
$text-on-accent-color: #fff !default;
$invalid-red: #f44336 !default;
$month-selector-color: $color-main;
$datepicker-main-text-color: $color-click;
$datepicker-disabled-text-color: #CCCCCC !default;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$font: Roboto, sans-serif !default;
$font-form: 14px !default;
$font-small: 12px !default;
