<div class="container" style="text-align: center">
  <br /><h1>Help and Support</h1>
  <p style="font-style: italic;">
    Stuck and need assistance? We are here to help.
  </p>
  <hr />
  <div class="help-cards">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        {{#link-to 'help.articles'}}
        <div class="card-material">
          <div class="help-card-banner" style="background-image: url('../assets/images/help/articles.jpg')">

          </div>
          <div class="help-card-content">
            <div class="help-card-text">
              <h4>Articles</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim, lacus quis consequat elementum, quam leo aliquam purus, in porta dolor mauris pharetra massa. Duis vulputate odio a blandit fermentum. Ut fringilla metus ante, ut fermentum libero tincidunt venenatis. Vestibulum ultrices pulvinar augue, a venenatis nisl varius quis. Donec elementum, lacus nec fermentum facilisis, metus arcu commodo tortor, ac scelerisque turpis est vitae ligula. Duis bibendum sed velit sed mollis. Maecenas in sollicitudin nisi, at egestas ligula. Aenean volutpat sed felis sit amet vestibulum. Mauris ante lectus, mollis in massa at, convallis vehicula eros. In ut arcu libero. Cras faucibus sollicitudin fringilla. Phasellus venenatis in felis nec rutrum. Proin a auctor urna. Sed justo erat, cursus vitae dignissim in, ultrices ut urna.
              </p>
            </div>
            <hr />
              <div class="help-read-more">
                {{mdl-button text="Read More"}}
              </div>
          </div>
        </div>
        {{/link-to}}
      </div>

      <div class="col-sm-6 col-md-4">
        {{#link-to 'help.faq'}}
        <div class="card-material">
          <div class="help-card-banner" style="background-image: url('../assets/images/help/faq.jpg')">

          </div>
          <div class="help-card-content">
            <div class="help-card-text">
              <h4>Frequently Asked Questions</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim, lacus quis consequat elementum, quam leo aliquam purus, in porta dolor mauris pharetra massa. Duis vulputate odio a blandit fermentum. Ut fringilla metus ante, ut fermentum libero tincidunt venenatis. Vestibulum ultrices pulvinar augue, a venenatis nisl varius quis. Donec elementum, lacus nec fermentum facilisis, metus arcu commodo tortor, ac scelerisque turpis est vitae ligula. Duis bibendum sed velit sed mollis. Maecenas in sollicitudin nisi, at egestas ligula. Aenean volutpat sed felis sit amet vestibulum. Mauris ante lectus, mollis in massa at, convallis vehicula eros. In ut arcu libero. Cras faucibus sollicitudin fringilla. Phasellus venenatis in felis nec rutrum. Proin a auctor urna. Sed justo erat, cursus vitae dignissim in, ultrices ut urna.
              </p>
            </div>
            <hr />
              <div class="help-read-more">
                {{mdl-button text="Read More"}}
              </div>
          </div>
        </div>
        {{/link-to}}
      </div>

      <div class="col-sm-6 col-md-4">
        {{#link-to 'help.support'}}
        <div class="card-material">
          <div class="help-card-banner" style="background-image: url('../assets/images/help/support.jpg')">

          </div>
          <div class="help-card-content">
            <div class="help-card-text">
              <h4>Support</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim, lacus quis consequat elementum, quam leo aliquam purus, in porta dolor mauris pharetra massa. Duis vulputate odio a blandit fermentum. Ut fringilla metus ante, ut fermentum libero tincidunt venenatis. Vestibulum ultrices pulvinar augue, a venenatis nisl varius quis. Donec elementum, lacus nec fermentum facilisis, metus arcu commodo tortor, ac scelerisque turpis est vitae ligula. Duis bibendum sed velit sed mollis. Maecenas in sollicitudin nisi, at egestas ligula. Aenean volutpat sed felis sit amet vestibulum. Mauris ante lectus, mollis in massa at, convallis vehicula eros. In ut arcu libero. Cras faucibus sollicitudin fringilla. Phasellus venenatis in felis nec rutrum. Proin a auctor urna. Sed justo erat, cursus vitae dignissim in, ultrices ut urna.
              </p>
            </div>
            <hr />
              <div class="help-read-more">
                {{mdl-button text="Read More"}}
              </div>
          </div>
        </div>
        {{/link-to}}
      </div>
    </div>
  </div>

</div>
