<div style="background-color: #fff">
	<div class="container text-center" style="padding: 80px 0px 40px 0px; text-align: center;">
	  <span><hr>{{#link-to 'index'}}<img src="assets/images/bloom-black.png" style="width: auto; height: 80px;">{{/link-to}}<br>COPYRIGHT &copy; 2017</span>
	</div>
</div>