<div style="background-color: #fff">
	<div class="container text-center" style="padding: 80px 0px 40px 0px; text-align: center;">
	  <div class="social-media-icons">
	  	<a href="http://facebook.com/bloomweddings" target="_blank"><i class="fa fa-2x fa-facebook"></i></a> 
	  	<a href="http://instagram.com/bloomweddings" target="_blank"><i class="fa fa-2x fa-instagram"></i></a> 
	  	<a href="http://twitter.com/bloomplanner" target="_blank"><i class="fa fa-2x fa-twitter"></i></a> 
	  	<a href="http://pinterest.com/bloomplanner" target="_blank"><i class="fa fa-2x fa-pinterest"></i></a>
	  </div>

	  <span>
	  	<hr>{{#link-to 'index'}}<img src="assets/images/bloom-black.png" style="width: auto; height: 80px;">{{/link-to}}
	  	<br>COPYRIGHT &copy; 2017
	  </span>
	</div>
</div>