<div style="background-color: #fff">
	<div class="container text-center" style="padding: 120px 0px 40px 0px">
	  <span><hr>COPYRIGHT &copy; 2016&nbsp;&nbsp;|&nbsp;&nbsp;PEAR LIFE LIMITED.</span>
	</div>
</div>