<div class="pear-sub-well">
   <ul class="nav nav-pills unselectable pear-sidebar">
      {{#link-to 'index.favourites.myfavourites' tagName="li"}}<a href>MY FAVOURITES</a>{{/link-to}}
      {{#link-to 'index.favourites.innercircle' tagName="li"}}<a href>INNER CIRCLE</a>{{/link-to}}
      {{#link-to 'index.favourites.mystats' tagName="li"}}<a href>MY STATS</a>{{/link-to}}
   </ul>
</div>
<div class="container">
   <div class="row" style="padding-top: 15px">  
      {{outlet}}
   </div>
</div>
{{notification-container position="bottom"}}
