<div class="header-top">
	<h1>Your Favourites</h1>
	<hr class="style-two">
	{{#if model.user.favourites}}
		<h3>Click to unfavourite</h3>
	{{else}}
		<h3>It looks like you don't have any favourites yet!</h3>
		<h3>Click here to explore</h3>
		{{#link-to 'categories'}}<button class="btn btn-lg btn-default clbutton-grey">Categories</button>{{/link-to}}
	{{/if}}
</div>

<div class="">
	<div class="row">
	    {{#each model.user.favourites as |cat-item|}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block">
				<h2>{{cat-item.name}}</h2>
				{{!-- <div class="text-center cat-img-container"> --}}
				{{#link-to 'single-item' cat-item.id tagname='div' class="text-center cat-img-container"}}
					<img src="{{cat-item.imageURL}}" class="img-responsive cat-image">
				{{/link-to}}
				<button type="button" class="btn btn-danger cat-heart-button" {{action 'removeFavourite' cat-item.id}}><i class="fa fa-heart-o"></i></button>
			</div>
		</div>
	    {{/each}}
	</div>
</div>