<div class="favourites-padder">
<div class="wedding-first-time text-center">
	<h1 class="font-times-header">MY WEDDING</h1>
	<p class="font-times-subheader">Plan and manage the aspects of your wedding.</p>
</div>
<hr class="style-two">
<div class="row">
	<div class="col-md-2">
		<div>
			<ul class="nav pear-sidebar">
				{{#link-to 'index.mywedding.overview' tagName="li"}}<a href>Overview</a>{{/link-to}}
				{{#link-to 'index.mywedding.guests' tagName="li"}}<a href>Guest List</a>{{/link-to}}
				{{#link-to 'index.mywedding.innercircle' tagName="li"}}<a href>Inner Circle</a>{{/link-to}}
				{{#link-to 'index.mywedding.mystats' tagName="li"}}<a href>My Stats</a>{{/link-to}}
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		{{outlet}}
	</div>
</div>

</div>