{{!-- <div class="favourites-padder"> --}}
<div class="pear-sub-well">
	<ul class="nav nav-pills unselectable pear-sidebar">
		{{#link-to 'index.mywedding.overview' tagName="li"}}<a href>OVERVIEW</a>{{/link-to}}
		{{#link-to 'index.mywedding.guests' tagName="li"}}<a href>GUEST LIST</a>{{/link-to}}
		{{#link-to 'index.mywedding.todo' tagName="li"}}<a href>TODO LIST</a>{{/link-to}}
		{{#link-to 'index.mywedding.budget' tagName="li"}}<a href>BUDGET</a>{{/link-to}}
		{{!-- {{#link-to 'index.mywedding.innercircle' tagName="li"}}<a href>INNER CIRCLE</a>{{/link-to}}
		{{#link-to 'index.mywedding.mystats' tagName="li"}}<a href>MY STATS</a>{{/link-to}} --}}
	</ul>
</div>
<div class="container">
	<div class="row" style="padding-top: 15px">

        <div id="TESTINGTEST"></div>
		{{outlet}}
	</div>
</div>
{{notification-container position="bottom"}}
