<div class="wedding-first-time text-center">
	<h1>Wedding Overview</h1>
	<div class="mywedding-img-background">
		<img src="../assets/images/sample-content/profile1.jpg" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-sm-3 bordered">
		<div>
			<ul class="nav pear-sidebar">
				<li>
					<a href="#">Test</a>
				</li>
				<li>
					<a href="#">Test</a>
				</li>
				<li>
					<a href="#">Test</a>
				</li>
				<li>
					<a href="#">Test</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-9 bordered">
		<p>Details go here.</p>
	</div>
</div>
{{outlet}}
