<div class="wedding-first-time text-center">
	<h1>Welcome to your wedding!</h1>
	<h2>Fill in your details below.</h2>
</div>
<div class="row">
	<div class="col-sm-3 bordered">
		<p>Profile image goes here.</p>
	</div>
	<div class="col-sm-9 bordered">
		<p>Details go here.</p>
	</div>
</div>
{{outlet}}
