<div class="wedding-first-time text-center">
	<h1>The Admin Stuff</h1>
</div>
<hr>
<div class="row">
	<div class="col-md-2">
		<div>
			<ul class="nav pear-sidebar">
				{{#link-to 'index.mywedding.overview' tagName="li"}}<a href>Overview</a>{{/link-to}}
				{{#link-to 'index.mywedding.guests' tagName="li"}}<a href>Guest List</a>{{/link-to}}
				{{#link-to 'index.mywedding.innercircle' tagName="li"}}<a href>Inner Circle</a>{{/link-to}}
				{{#link-to 'index.mywedding.mystats' tagName="li"}}<a href>My Stats</a>{{/link-to}}
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		{{outlet}}
	</div>
</div>

