<div class="wedding-first-time text-center">
	<h1>Wedding Overview</h1>
</div>
<hr>
<div class="row">
	<div class="col-md-2">
		<div>
			<ul class="nav pear-sidebar">
				{{#link-to 'index.mywedding.overview' tagName="li"}}<a href>Overview</a>{{/link-to}}
				{{#link-to 'index.mywedding.guests' tagName="li"}}<a href>Guest List</a>{{/link-to}}
				{{#link-to 'index.mywedding.bride' tagName="li"}}<a href>Bride</a>{{/link-to}}
				{{#link-to 'index.mywedding.groom' tagName="li"}}<a href>Groom</a>{{/link-to}}
			</ul>
		</div>
	</div>
	<div class="col-md-10">
		{{outlet}}
	</div>
</div>

