
{{#if model.user.vendorAccount}}
	<div class="pear-sub-well">
		<ul class="nav nav-pills unselectable pear-sidebar">
		{{#link-to 'index.vendor.listings' tagName="li"}}<a id="nav-all-services" href>SERVICES</a>{{/link-to}}
		{{#link-to 'index.vendor.new-listing' tagName="li"}}<a id="nav-add-services" href>ADD SERVICE</a>{{/link-to}}
		{{#link-to 'index.vendor.profile' tagName="li"}}<a id="nav-vendor-profile" href>PROFILE</a>{{/link-to}}
		{{#link-to 'index.vendor.branding' tagName="li"}}<a id="nav-vendor-branding" href>BRANDING</a>{{/link-to}}
		{{#link-to 'index.vendor.security' tagName="li"}}<a href>SECURITY</a>{{/link-to}}
		</ul>
	</div>
	<div class="text-center">
		{{!-- <p class="font-times-subheader">Add / Update product listings here</p> --}}
		<div class="container">
			{{outlet}}
		</div>
	</div>

 {{!-- SHOW ACCOUNT STUFF HERE --}}
{{else}}
	<div style="text-align:center;">
		<div class="pear-sub-well">
			<ul class="nav nav-pills unselectable pear-sidebar">
	      {{#link-to 'index.vendor.login' tagName="li"}}<a href>LOG IN</a>{{/link-to}}
	      {{#link-to 'index.vendor.signup' tagName="li"}}<a href>SIGN UP</a>{{/link-to}}
			</ul>
		</div>
		<div class="container">
	    	{{outlet}}
	    </div>
    </div>
{{/if}}

{{notification-container position="bottom"}}