
{{#if model.vendorAccount}}
	<div class="header-top">
		<h1>Your Vendor Account</h1><hr class="style-two">
		<h3>Create listings and such</h3>
	</div>
 {{!-- SHOW ACCOUNT STUFF HERE --}}
{{else}}
	<div style="text-align:center">
	    <ul class="nav nav-pills pear-main-pills unselectable">
	      {{#link-to 'index.vendor.login' tagName="li"}}<a href>Log In</a>{{/link-to}}
	      {{#link-to 'index.vendor.signup' tagName="li"}}<a href>Sign Up</a>{{/link-to}}
	    </ul>
    {{outlet}}
    </div>
{{/if}}