
{{#if model.user.vendorAccount}}
	<div class="pear-sub-well">
		<ul class="nav nav-pills unselectable pear-sidebar">
		{{#link-to 'index.vendor.listings' tagName="li"}}<a href>Products</a>{{/link-to}}
		{{#link-to 'index.vendor.new-listing' tagName="li"}}<a href>Add Product</a>{{/link-to}}
		{{#link-to 'index.vendor.profile' tagName="li"}}<a href>Profile</a>{{/link-to}}
		{{#link-to 'index.vendor.security' tagName="li"}}<a href>Security</a>{{/link-to}}
		</ul>
	</div>
	<div class="text-center">
		<h1 class="font-times-header">VENDOR ADMIN</h1>
		<p class="font-times-subheader">Add / Update product listings here</p>
		<hr class="style-two">
		<div class="row">
			<div class="col-md-2">
				<div>
					
				</div>
			</div>
			<div class="col-md-8">
			{{outlet}}
			</div>
		</div>
	</div>

 {{!-- SHOW ACCOUNT STUFF HERE --}}
{{else}}
	<div style="text-align:center;">
		<div class="pear-sub-well">
			<ul class="nav nav-pills unselectable pear-sidebar">
	      {{#link-to 'index.vendor.login' tagName="li"}}<a href>Log In</a>{{/link-to}}
	      {{#link-to 'index.vendor.signup' tagName="li"}}<a href>Sign Up</a>{{/link-to}}
			</ul>
		</div>
    {{outlet}}
    </div>
{{/if}}