<div class="header-top">
	<h1>Admin Dashboard</h1><hr class="style-two"><h3>Do adminy hacky stuff here</h3>
</div>

<div><button class="btn btn-primary btn-lg " {{action 'openFilePicker'}}>Upload Files</button>
</div>