{{#if session.isAuthenticated}}
	{{partial 'navbar'}} 
	<div class="pear-app-content">
		{{outlet}}
	</div>
{{else}}
	{{outlet}}
{{/if}}

{{#if currentlyLoading}}
<div id="loading-overlay"></div>
{{/if}}