<div class="header-top">
	<h1>Categories</h1><hr class="style-two"><h3>All available categories</h3>
</div>

<div class="container">
	<div class="row">
		{{#each model as |category|}}
		{{#link-to 'category' category.id}}
		<div class="col-lg-4 col-md-6">
			<div class="category-block-m">
				<div class="text-center cat-img-container-m">
					<img src="../assets/images/categories/{{category.imageURL}}" class="img-responsive cat-image-m">
				</div>
				<div class="overlay-title"><h4>{{category.name}}</h4></div>
			</div>
		</div>{{/link-to}}
		{{/each}}
	</div>
</div>


{{!-- <div class="container">
<div class="row">
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/culinary.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Culinary</h4></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/decor.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Decor</h4></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/dresses.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Dresses</h4></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/flowers.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Flowers</h4></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/venue.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Venues</h4></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="category-block-m">
			<div class="text-center cat-img-container-m">
				<img src="../assets/images/categories/wedding-planner.jpg" class="img-responsive cat-image-m">
			</div>
			<div class="overlay-title"><h4>Wedding Planners</h4></div>
		</div>
	</div>
</div>
</div> --}}