<div class="header-top">
	<h1>Categories</h1><hr class="style-two"><h3>All available categories</h3>
</div>
<div class="container">
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="category-block-m">
			<h2>Item Name</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress1.jpg" class="img-responsive cat-image">
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="category-block-m">
			<h2>Item Name</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress2.jpg" class="img-responsive cat-image">
			</div>
			<button type="button" class="btn btn-danger cat-heart-button">
				<i class="fa fa-heart-o pear-heart-icon"></i>
			</button>
		</div>
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="category-block-m">
			<h2>Item Name</h2>
			<div class="text-center cat-img-container">
				<img src="../assets/images/sample-content/dress3.jpg" class="img-responsive cat-image">
			</div>
			<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
		</div>
	</div>
</div>
</div>