<div class="container text-center index-main">
  <h1 class="text-center font-times-header">Friends</h1>
  <p class="font-times-subheader text-center">View your friends' weddings!</p>
  <div class="container friends-container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
