<div class="container index-main">
	<h1 class="text-center">Category Name Here</h1>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
				<div class="text-center cat-img-container">
					<img src="../assets/images/sample-content/dress1.jpg" class="img-responsive cat-image">
				</div>
				<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
				<div class="text-center cat-img-container">
					<img src="../assets/images/sample-content/dress2.jpg" class="img-responsive cat-image">
				</div>
				<button type="button" class="btn btn-danger cat-heart-button">
					<i class="fa fa-heart-o pear-heart-icon"></i>
				</button>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
				<div class="text-center cat-img-container">
					<img src="../assets/images/sample-content/dress3.jpg" class="img-responsive cat-image">
				</div>
				<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
				<div class="text-center cat-img-container">
					<img src="../assets/images/sample-content/dress2.jpg" class="img-responsive cat-image">
				</div>
				<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
				<div class="text-center cat-img-container">
					<img src="../assets/images/sample-content/dress2.jpg" class="img-responsive cat-image">
				</div>
				<button type="button" class="btn btn-danger cat-heart-button"><i class="fa fa-heart-o"></i></button>
			</div>
		</div>
	</div>
	<h1>Category Name Here</h1>
	<div class="row">
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>	
			</div>
		</div> 
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>	
			</div>
		</div> 
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>	
			</div>
		</div> 
		<div class="col-md-4 col-sm-6">
			<div class="category-block">
				<h2>Item Name</h2>	
			</div>
		</div> 
	</div>
</div>