<div class="container index-main">
	{{!-- Main content of the site goes here  --}}
	<div class="index-profile-image-container">
		<img src={{model.userext.imgurl}} class="img-responsive">
	</div>
	<div class="pear-main-well">
	    <ul class="nav nav-pills pear-main-pills unselectable">
			{{#link-to 'index.mywedding' tagName="li"}}<a href>My Wedding</a>{{/link-to}}
			{{#link-to 'index.favourites' tagName="li"}}<a href>Favourites</a>{{/link-to}}
			{{#if model.user.accountType}}{{#link-to 'index.vendor' tagName="li"}}<a href>Vendor</a>{{/link-to}}{{/if}}
	    </ul>
	</div>
	{{outlet}}
</div>