<div class="container-fluid index-main">
	{{!-- Main content of the site goes here  --}}
	<div class="row pear-index-top">
		<div class="splash-overlay">
			<div class="col-sm-2">
					
			</div>
			<div class="col-sm-8 text-center index-logo-container">
				{{!-- <h1 class="pear-text-logo unselectable">pear</h1> --}}
				<img src="../assets/images/hires-logo.png" class="img-responsive" style="max-width:85%; max-height:85%;">
			</div>
			<div class="col-sm-2 text-center hideOnMobile">
				<div class="index-profile-image-container">
					{{#link-to 'myaccount'}}<img src={{model.userext.imgurl}} class="img-responsive" style="background-color:white !important;">{{/link-to}}
				</div>
				<h4 style="margin: 0px; color:white;">{{model.user.name}}&nbsp;{{model.user.surname}}</h4>
			</div>
		</div>
	</div>
	<div class="pear-main-well">
	    <ul class="nav nav-pills pear-main-pills unselectable">
	    	{{#link-to 'index.favourites' tagName="li" class="font-century"}}<a href>FAVOURITES</a>{{/link-to}}
			{{#link-to 'index.mywedding' tagName="li" class="font-century"}}<a href>MY WEDDING</a>{{/link-to}}
			{{#if model.user.accountType}}{{#link-to 'index.vendor' tagName="li" class="font-century"}}<a href>VENDOR ADMIN</a>{{/link-to}}{{/if}}
	    </ul>
	</div>
		
	{{outlet}}
</div>