<div class="container index-main">
	{{!-- Main content of the site goes here  --}}
	<div class="pear-main-well">
	    <ul class="pear-main-pills unselectable">
	      {{#link-to 'index.favourites' tagName="li"}}<a href>Favourites</a>{{/link-to}}
	      {{#link-to 'index.mywedding' tagName="li"}}<a href>My Wedding</a>{{/link-to}}
	    </ul>
	</div>
	{{outlet}}
</div>