<div class="container index-main">
	<div class="header-top">
		<h1>Listings</h1><hr class="style-two"><h3>Click the heart to favourite!</h3>
	</div>
	<div class="bricks">
		{{#each model as |data index|}}
			<div class="brick content-card" style="order: {{index}};">
			  <div class="action">
			    {{#favourite-button data.id session.currentUser.id}}{{/favourite-button}}
			  </div>
			  {{#link-to 'single-item' data.id}}
			    <img src={{data.imageURL}} alt={{data.name}} class="img-responsive img-card" >
			  {{/link-to}}
			  <h4 class="title">{{data.name}}</h4>
			</div>
		{{/each}}
	</div>
</div>
