{{#modal-popup title=model.title ok="saveValue" close='closeEditValue'}}  
      <div class="form-horizontal form-group form-group-lg row">
        <div style="margin-left: 15px; margin-right 15px; padding-right: 15px;">
            {{mdl-textfield label='Value' value=model.value}}
        </div>
      </div>
{{/modal-popup}}
