<div class="container" style="padding-top:80px">
<div class="card" style="text-align:center;">
    <h1>My Account</h1>
    <hr>
    <h3>We are setting this up now</h3><br>
    <div class="col-sm-4">
	    <div class="profile-pic-outer">
	    	<div class="profile-pic"><img src={{model.userext.imgurl}}></div>
	    </div>
    </div>

</div>
</div>
