<a id="menu-button" class="menu-button" {{action 'toggleMenu'}}>
	<i id="menu-icon" class="{{'fa'}} {{if menuOpen 'fa-close' 'fa-bars'}}"></i>
</a>
<div id="menu-overlay" class={{if menuOpen 'visible' 'hidden' }}></div>