<div class="container" style="padding-top:80px">
   <div class="card pear-profile-card" style="text-align:center;">
      <h1>404 Not Found</h1>
      <hr>
      <h3>You seem a little lost, friend. Here click this link to go back to safety.</h3>
      <div style="margin-top:50px;" class="col-sm-offset-4 col-sm-4">
         {{#link-to 'index'}}<button style="width:100%" class="btn btn-success">To Safety!</button>{{/link-to}}
      </div>
   </div>
</div>